__pycache__
.idea
translator/test1-old.ipynb
*.puml
translator/.DS_Store
sample/object-graph-wheel.rdf
/paper
/out
.DS_Store
/out
sample/catalog-v001.xml
/sample
/sample
/archived
/ontopuml.egg-info
/nowl.egg-info
test1.ipynb
test1.ipynb
cli/catalog-v001.xml
.vscode
test/catalog-v001.xml
/generator/nowl.egg-info
test_command.txt
test/import/catalog-v001.xml
*.xml
/nowlgen/build
climain_depre.py
/nowlgen/dist
*.spec
nowlgen/cli/_main.py
/generator/build
/generator/nowl.egg-info
